.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-right: 2px solid black;
    padding: 0px;
}

.contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: blue 0px solid;
    width: 90%;

}

.p{
    margin-top: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-weight: bold;

}

.selects{
    width: 50%;
    margin: 5px;
}

@media screen and (max-width:900px){

    .contenedor{
        width: 100%;
        border-bottom: solid 2px  rgb(130, 193, 212);
        border-right: black 0px solid;
        border-left: black 0px solid;
        padding-top: 3%;
        padding-bottom: 4%;
    }

    .selects{
        width: 40%;
        margin: 5px;
        height: 2.8vh;
      
    }
}